{% extends 'base.html.twig' %}

{% block title %}
	{% if (editMode) %}
		Modification d'une actualité
	{% else %}
		Création d'une actualité
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container">
		{{ form(form) }}
		</div>
	{% endblock %}
